:root {
    --color-900: #111827;
    --color-800: #1f2937;
    --color-700: #374151;
    --color-600: #4b5563;
    --color-500: #6b7280;
    --color-400: #9ca3af;
    --color-300: #d1d5db;
    --color-200: #e5e7eb;
    --color-100: #f3f4f6;
    --color-50: #f9fafb;
    --color-error: #be0000;
}
