.label {
    display: block;
    text-align: left;
}
.label span {
    display: block;
}
.label .text,
.label .error {
    font-size: var(--text-2);
}
.label .input {
    all: unset;
    font-size: var(--text-1);
    line-height: 100%;
    width: calc(100% - var(--gutter));
    border: 1px solid var(--color-400);
    border-radius: 12px;
    padding: 0 calc(var(--gutter) / 2);
    height: 46px;
}
/*error*/
.label.error {
    color: rgb(190, 0, 0);
}
.label.error .input {
    border: 1px solid rgb(190, 0, 0);
}
